<h1>Accounts</h1>

<%= link_to 'add new account', '#', :class => 'form-toggle', :data => { 
  :form => 'add-new-account' } %>

<section class="form hide" data-form="add-new-account">
  <h1>New Account</h1>
  <%= simple_form_for @account do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>
</section>

<section class="accounts">
  <%= render accounts %>
  <% if unattached_servers.size > 0 %>
    <article class="account">
      <h2 class="title">
        <%= link_to '(no account)', '#' %>
      </h2>
      <%= render unattached_servers %>
    </article>
  <% end %>
</section>
