<%= link_to 'add new account', '#', :class => 'form-toggle', :data => { 
  :form => 'add-new-account' } %>
  &nbsp;//&nbsp;
<%= link_to 'add new server', '#', :class => 'form-toggle', :data => { 
  :form => 'add-new-server' } %>

<section class="form hide" data-form="add-new-account">
  <h1>New Account</h1>
  <%= render 'form' %>
</section>

<section class="form hide" data-form="add-new-server">
  <h1>New Server</h1>
  <%= render 'servers/form' %>
</section>

<section class="accounts">
  <%= render accounts %>
  <% if unattached_servers.size > 0 %>
    <article class="account">
      <h2 class="title">
        <%= link_to '(no account)', account_path('unattached') %>
      </h2>
      <%= render unattached_servers %>
    </article>
  <% end %>
</section>
