<section class="form">
  <h1>New Account</h1>
  <%= simple_form_for @account do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>
</section>

<section class="accounts">
  <h1>Accounts</h1>
  <%= render accounts %>
  <article class="account">
    <h2 class="title">
      <%= link_to '(no account)', '#' %>
    </h2>
    <%= render unattached_servers %>
  </article>
</section>
